{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "themes/"|add:THEME|add:"/partials/head.html" %}
</head>

<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    {% include "themes/"|add:THEME|add:"/partials/sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <!-- Topbar -->
            {% include "themes/"|add:THEME|add:"/partials/topbar.html" %}

            <!-- Page Content -->
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>

        </div>

        <!-- Footer -->
        {% include "themes/"|add:THEME|add:"/partials/footer.html" %}
    </div>
</div>

<!-- Scroll to Top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include "themes/"|add:THEME|add:"/partials/scripts.html" %}
{% block extra_js %}{% endblock %}
</body>
</html>

