{% load static %}    
    <meta charset="UTF-8">
    <title> {% block title %}
    {% if page_title %}
      FazApp | {{ page_title }}
    {% else %}
      FazApp
    {% endif %}
  {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SB Admin 2 CSS -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'sbadmin/css/sb-admin-2.min.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
