<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <nav aria-label="breadcrumb" class="d-none d-md-block">
  <ol class="breadcrumb bg-transparent mb-0 p-0">

    <li class="breadcrumb-item">
      <a href="{% url 'core:dashboard' %}">
        <i class="fas fa-tachometer-alt"></i> FazApp
      </a>
    </li>

    {% if page_title %}
      <li class="breadcrumb-item active text-primary font-weight-bold" aria-current="page">
        {{ page_title }}
      </li>
    {% endif %}

  </ol>
</nav>


    <ul class="navbar-nav ml-auto">

        {% if user.is_authenticated %}
        <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
                 role="button" data-toggle="dropdown">

                {% if user.avatar %}
                  <img class="img-profile rounded-circle"
                       src="{{ user.avatar.url }}"
                       width="32" height="32">
                {% else %}
                  <i class="fas fa-user-circle fa-lg"></i>
                {% endif %}

                <span class="ml-2 d-none d-lg-inline text-gray-600 small">
                  {{ user.username }}
                </span>
              </a>

            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">

                <a class="dropdown-item" href="{% url 'users:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>

                <div class="dropdown-divider"></div>

                <form method="post" action="{% url 'core:logout' %}">
                    {% csrf_token %}
                    <button class="dropdown-item text-danger" type="submit">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                        Logout
                    </button>
                </form>

            </div>
        </li>
        {% endif %}

    </ul>
</nav>

